.left { float:left; display:inline; }
.right { float:right; display:inline; }
.clear:after { content:''; display:block; clear:both; }
.clear { zoom:1; }
/*首页>攻略*/
.content{
    margin-bottom: 54px;
}
.g-crumbs{
    height: 58px;
}
.g-clx{
     overflow: hidden;
 }
.g-clx>li{
    float: left;
    font-size: 12px;
    color: #999999;
    margin-right: 8px;
    line-height: 12px;
    margin-top: 23px;
}
.g-clx>li>a{
    color: #999999;
}/*首页>攻略*/
/*g-strategy*/
.g-strategy-top{
    margin-top: 28px;
    height: 320px;
    width: 100%;
}
.g-strategy-top>a{
    overflow: hidden;
    display: block;
}
.g-strategy-left{
    padding: 70px 60px 50px 118px;
    width: 510px;
    height: 320px;
    box-sizing: border-box;
    background: #FAFAFA;
    border: 1px solid #EDEDED;
    border-right: none;
    background-image: url(../img/g-img/dous.jpg);
    background-repeat: no-repeat;
    background-position: 40px 47px;
}/*g-strategy*/

/*攻略推荐*/
/*标题*/
.g-main-modular {
    width: 100%;
}
.g-modular-title {
    height: 105px;
    line-height: 105px;
    margin-top: 30px;
    overflow: hidden;
}
.g-modular-title > h2 {
    float: left;
    font-size: 30px;
    color: #3A3A3A;
    font-weight: 400;
    display: block;
}
.g-main-modular .g-modular-title > .g-modular-link {
    float: right;
    font-size: 14px;
    color: #555555;
    letter-spacing: 1.6px;
    margin-top: 18px;
    padding-right: 23px;
}/*标题*/

/*内容项*/
.g-modular-container {
    min-height: 400px;
}
/*动画盒子*/
.g-article-lists .g-article-cell {
    float: left;
    width: 235px;
    -webkit-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    vertical-align: top;
    display: list-item;
    text-align: -webkit-match-parent;
    margin-right: 20px;
    margin-bottom: 20px;
}
.g-article-lists .g-article-cell:hover {
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}

.g-article-cell .g-article-img {
    display: block;
    width: 100%;
    height: 157px;
    vertical-align: top;
    border: none;
}
.g-article-cell .g-article-text {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    padding: 20px;
    height: 276px;
    box-sizing: border-box;
}
.g-article-cell .g-article-text .g-article-title {
    width: 100%;
    max-height: 44px;
    font-size: 16px;
    color: #3A3A3A;
    letter-spacing: 0.88px;
    line-height: 22px;
    overflow: hidden;
    margin-bottom: 20px;
}
.g-article-cell .g-article-text .g-article-sign > span {
    float: left;
    font-size: 12px;
    color: #64B7BA;
    letter-spacing: 0;
    padding: 4px;
    border-radius: 4px;
    background: rgba(216,239,239,0.23);
    margin-bottom: 20px;
}
.g-article-cell .g-article-text .g-article-desc {
    width: 100%;
    height: 120px;
    line-height: 24px;
    font-size: 14px;
    color: #555555;
    letter-spacing: 0px;
    overflow: hidden;
}/*内容项*/




