/*公共*/
.w-wrap{
    width:100%;
}
.w-box{
    width:1024px;
    margin:0 auto;
}
.w-clear{
    clear:both;
}
/*loading*/
.w-loading{
    width:70px;
    margin:20px auto;
    display: none;
}
.w-load{
    width:8px;
    height:8px;
    background:#ccc;
    display:block;
    margin-right:10px;
    float:left;
}
.w-cur{
    margin-top:8px;
    text-align:center;
}
.w-color{
    background-color: #0086b3;
}
/*头部*/
.w-header{
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    position: relative;
    background: #d8d8d8;
}
/*banner*/
.w-inner img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}
.w-nav1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 33px;
    z-index: 999;
    padding: 20px 0;
    -webkit-background-color: transparent;
    -o-background-color:transparent;
    -moz-background-color:transparent;
    -ms-background-color:transparent;
    background-color: transparent;
    float: left;
}
.w-center{
    width: 415px;
    height: 175px;
    position: absolute;
    bottom: 85px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    z-index: 3;
}
.w-center p{
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.02px;
    margin-bottom: 15px;
    opacity: .8;
    font-weight: bold;
}
.w-center h1{
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: -0.28px;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.50);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.w-center p a{
    color: #FFFFFF;
}
/*content*/
.w_con_nav{
    padding:22px 0 ;
    border-bottom: 1px solid #EFEFEF;
    font-size:12px ;
    color: #999;
}
.w_con_nav a{
    font-size:12px ;
    color: #999;
}
.w_con_list{
    padding: 33px 0;
    border-bottom: 1px solid #EFEFEF;
    font-size: 0;
}
.w_con_list_type{
    padding-bottom: 33px;
}
.w_con_list b{
    font-size: 14px;
    display: inline-block;
}
.w_con_list span{
    display: inline-block;
    border-radius: 2px;
    padding: 2px 6px;
    height: 20px;
    line-height: 24px;
    color: #777777;
    font-size: 14px;
    margin-right: 25px;
}
.w_con_list .active{
    background: #008489;
    color: #fff ;
}
.w_list{
    padding-bottom: 100px;
}
.w_list_icon{
    padding: 35px 0;
    border-bottom: 1px solid #EFEFEF;
    display: none;
}
.w_list_icon .img{
    width: 263px;
    height: 180px;
    float: left;
    margin-right: 40px;
    overflow: hidden;
}
.w_list_icon .img img{
    width: 263px;
    height: 180px;
    display: block;
    transition: 0.5s;
}
.w_list_icon .img:hover img{
    transform: scale(1.3);
}
.w_list_icon_right{
    width:721px;
    float: right;
    text-align: left;
}
.w_list_icon_right p:nth-child(1){
    font-size: 14px;
    color: #333333;
    letter-spacing: -0.03px;
}
.w_list_icon_right p:nth-child(1) b{
    font-size: 26px;
}
.w_list_icon_right p:nth-child(1) span{
    float: right;
    color:#D11D0E;
}
.w_list_icon_right p:nth-child(2){
    padding-top: 25px;
    font-size: 14px;
    color: #555555;
    letter-spacing: -0.02px;
    margin-bottom: 14px;
    height: 20px;
}
.w_list_icon_right p:nth-child(3){
    font-size: 14px;
    color: #555555;
    letter-spacing: -0.02px;
    margin-bottom: 14px;
    height: 20px;
}
.w_list_icon_right p:nth-child(4){
    font-size: 14px;
    color: #555555;
    letter-spacing: -0.02px;
    margin-bottom: 14px;
    height: 20px;
}
.w_list_icon_right p:nth-child(5) span{
    padding: 5px 17px;
    font-size: 14px;
    letter-spacing: -0.02px;
    margin-right: 10px;
}
.red{
    background-color: rgba(246,178,187,0.28);
    color: #AD2B31;
}
.blue{
    color: #8BA4BA;
    background: rgba(139,164,186,0.28);
}
.pink{
    color: #FF866C;
    background: rgba(255,179,162,0.28);
}
.show{
    display:block;
}